<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="#" class="navbar-brand mx-auto">PRODUCTOS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/product" method="post">
                <input class="form-control mr-sm-2" type="text" name="asin_code" placeholder="Agregar ASIN" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Agregar</button>
            </form>

        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mt-4">
                <!-- <form action="/product" method="post" class="card-body">
                    <h3 class="cart-title">add asin</h3>
                    <div class="form-group">
                        <input type="text" name="asin_code" class="form-control col-md-3" placeholder="ASIN">
                    </div>
                    <input type="submit" class="col-md-3 btn btn-primary">
                </form> -->
                <form action="/allproduct" method="post" class="card-body">
                    <input type="submit" class="col-md-3 btn btn-dark" value="Validar todos">
                </form>
                <form action="/downloadexcel" method="post" class="card-body">
                    <input type="submit" class="col-md-3 btn btn-dark" value="Descargar excel">
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>id</th>
                        <th>asin</th>
                        <th>nombre</th>
                        <th>descripción</th>
                        <th>imagen</th>
                        <th>precio</th>
                        <th>peso</th>
                        <th>active</th>
                    </tr>
                    <% for(var i = 0; i < product.length; i++)  {%>
                        <tr>
                            <td>
                                <%= product[i].id %>
                            </td>
                            <td>
                                <%= product[i].asin_code %>
                            </td>
                            <td>
                                <%= product[i].name %>
                            </td>
                            <td>
                                <p class="overflow-ellipsis">
                                    <%= product[i].description %>
                                </p>
                            </td>
                            <td>
                                <div>
                                    <img style="width: 100%;" src="<%= product[i].img %>" alt="">
                                </div>

                            </td>
                            <td>
                                <%= product[i].cost %>
                            </td>
                            <td>
                                <%= product[i].shipping_weight %>
                            </td>
                            <td>
                                <%= product[i].active %>
                            </td>
                        </tr>
                        <% } %>
                </table>
            </div>
            <% if (status){ %>
                <div class="alert alert-primary" role="alert">
                    <% message %>
                </div>
                <% } %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>

</html>